.login-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
  
  .login-container-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #h3{
    text-align: center;
    font-weight: 5px;
    font-family:'Times New Roman', Times, serif;
    padding-bottom: 20px;
  }
  
  .FORM {
    display: flex;
    flex-direction: column;
  }
  
  .LABEL {
    margin-bottom: 8px;
  }
  
  .INPUT {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .Paragraph{
    padding-top: 30px;
    
  }
